body {
    margin: 20px;
    width: 800px;
    display: flex;
    flex-direction: row;
    font-family: Calibri;
}

#left {
    padding-right: 30px;
    padding: 20px;
    background-color: #ECEFF1;
}
#contacts li {
    list-style-type: square;
}

#contacts h1 {
    padding-bottom: 10px;
    margin-bottom: 0px;
    text-transform: none;
    font-weight: 900;
    text-align: center;
}

#right {
    padding: 20px;
    padding-left: 30px;
}

h1 {
    text-transform: uppercase;
    font-size: 22px;
    font-family: sans-serif;
    margin-top: 20px;
}

h2 {
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 4px;
}

h3 {
    font-variant: small-caps;
    font-size: 18px;
    font-weight: unset;
    margin-bottom: 4px;
    margin-top: 4px;
}

li {
    list-style-position: outside;
    
}
p {
    margin-top: 4px;
}
img {
    height: 200px;
    border-radius: 7%;
    
    display: block;
    margin: 0 auto;
}
